html, body
{
  height: 100%;
  margin: 0;
}

body
{
    background-image: url("bg3.jpg");
    font-family:  -apple-system;
}


.login_div
{
	background: rgba(255, 234, 234, 0.8);
    color: #191970;
    font-size: 20px;
    float: none;
    border-radius: 15px;
}

.logo
{
	width: 200px;
    height: 150px;
    margin-top: 30px;
    border-radius: 10px;
}

#output{
    background: #191970;
    color: white;
    border-radius: 20px;
    width: 50%;
    padding: 20px;
    font-size: 20px;
}


.input_div_room_page{
cursor: pointer;
	font-size: 20px;
}

.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page .message
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.logout{
    font-size: 30%;
}